
    .main-content {
      flex: 1;
      padding: 30px;
      overflow-y: auto;
    }


    .dashboard-box {
      background-color: #ffffff;
      border-radius: 12px;
      padding: 30px;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
      margin-left: 40px;
      width: 1060px;
    }

    .dashboard-box h1 {
      margin-bottom: 15px;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      margin-bottom: 30px;
    }

    .card {
      display: flex;
      align-items: center;
      justify-content: space-between;   
      background-color: #e1e8eb;
      border-radius: 10px;
      padding: 20px;
      color: #fff;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    }

    .card-content {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .card .icon {
      font-size: 28px;
      padding: 12px;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
    }

    .card .text {
      display: flex;
      flex-direction: column;
    }

    .card h2 {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .card p {
      font-size: 22px;
      font-weight: bold;
      text-align: right;
    }

    /* Card Colors */
    .blue { color: #000000; }
    .orange { color: #000000; }
    .green { color: #000000; }
    .red { color: #000000; }
    .cyan { color: #000000; }
    .yellow { color: #000000; }
    .purple { color: #000000; }
    .pink { color: #000000; }
    .lime { color: #000000; }

    /* Quick Actions */
    .quick-actions {
      margin-top: 10px;
    }

    .quick-actions h3 {
      margin-bottom: 10px;
    }

    .quick-actions button {
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      font-size: 14px;
      margin-right: 10px;
    }

    .quick-actions .add {
      background-color: #e1e8eb;
      color: #040505;
    }

    .quick-actions .send {
      background-color: #e1e8eb;
      color: #040505;
    }

    .quick-actions .suspend {
      background-color: #e1e8eb;
      color: #040505;
    }
    .quick-actions .non-returned {
      background-color: #e1e8eb;
      color: #040505;
    }
    .quick-actions .issued {
      background-color: #e1e8eb;
      color: #040505;
    }
    .quick-actions .account {
      background-color: #e1e8eb;
      color: #040505;
    }
    .quick-actions .maintenance {
      background-color: #e1e8eb;
      color: #040505;
    }
    .quick-actions .others {
      background-color: #e1e8eb;
      color: #040505;
    }